
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register Test Form</h1>
    <fieldset [disabled]="loading">
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">
        <label for="name">Nombre *</label>
        <input type="text" class="form-control" id="name" required
        [(ngModel)]="model.name" name="name"
        #name="ngModel">
      </div>
      <div [hidden]="name.valid || name.untouched"
           class="alert alert-danger">
        Debe ingresar un nombre.
      </div>

      <div class="form-group">
        <label for="email">Email *</label>
        <input type="email" class="form-control" id="email"
        required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        [(ngModel)]="model.email" name="email"
        #email="ngModel">
      </div>

      <div [hidden]="email.valid || email.untouched">
        <div *ngIf="email.errors && email.errors.required" class="alert alert-danger">
          Debe ingresar un email.
        </div>
        <div *ngIf="email.errors && email.errors.pattern" class="alert alert-danger">
          El formato de email es inválido.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña *</label>
        <input type="password" class="form-control" id="password"
        required minlength="6" validateEqual="confirmPassword" reverse="true"
        [(ngModel)]="model.password" name="password"
        #password="ngModel">
      </div>
      <div [hidden]="password.valid || password.untouched">
        <div  *ngIf="password.errors && password.errors.required" class="alert alert-danger">
          Debe ingresar una contraseña.
        </div>
        <div  *ngIf="password.errors && password.errors.minlength" class="alert alert-danger">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña *</label>
        <input type="password" class="form-control" id="confirmPassword"
        required validateEqual="password"
        [(ngModel)]="model.confirmPassword" name="confirmPassword"
        #confirmPassword="ngModel">
      </div>
      <div [hidden]="confirmPassword.valid || confirmPassword.untouched"
           class="alert alert-danger">
        Debe ingresar una confirmación de contraseña que coincida.
      </div>

      <div class="form-group">
        <label for="plan">Plan Seleccionado</label>
        <select class="form-control"  id="plan"
                [(ngModel)]="model.plan" name="plan"
                #plan="ngModel">
          <option *ngFor="let plan of planes" [value]="plan">{{plan}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">Submit <i *ngIf='loading' class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>

    </form>
    </fieldset>
  </div>
</div>
